*{
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header{
    display: flex;
    background-color: #95C623;
    align-items: center;
    border-radius: 4px;
    padding: 0 10px;


}
.header-text{
    margin: 8px 20px;
}
.icon{
    display: block;
    width: 13%;
    background-color: #fff;
    border-radius: 10px;
    padding: 3px;
}

.description{
    margin: 0;
    color: aliceblue;
    font-size: 12px;
}
.header-title{

    font-size: 26px;
    color: aliceblue;
    border-bottom: 1px dotted #fff;
    margin: 0;
    margin-bottom: 5px;
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
    font-size: 2em;
    margin-bottom: 15px;
}

.submit-btn {
    margin-top: 10px;
}